{box-sizing: border-box}
body *{cursor: default}
.btn:hover{cursor: default}
.addbar{border:1px solid;}
/*
.active-border{
    border: 2px red solid !important;
    box-sizing: border-box !important;
}
*/

/*.active-drop{border:2px blue solid;}*/
