        #topmenu {
            position: absolute;
            background-color: #eeeeee;
            width: 100%;
            box-sizing: border-box;
            border-bottom: 1px solid;
            height: 25px;
        }
        #topmenu ul {
            padding: 0;
            height: 100%;
            margin: 0;
        }
        #topmenu ul li {
            list-style: none;
            margin: 0;
            cursor: default;
            float: left;
            height: 23px;
            padding: 3px 10px 0 10px;
            text-align: center;
            box-sizing: border-box
        }
        #topmenu ul li:hover {
            background-color: #888888;
            color: white
        }
        #appcontainer {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        #dialogback{
            /*background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            display: none;*/
        }
        #downloaddialog{
            display: none;
        }
        #downloaddialog .inputtitle{
            width: 100px;
/*            border: 1px solid;*/
            display: inline-block;
        }
        #downloaddialog input{
            width:200px;
        }
        #downloaddialog .row{
/*            width: 300px;*/
            margin: 10px;
            text-align: center;
        }
        #downloadbut{
            border: 1px solid;
            text-decoration: none;
            background-color: rgba(255,0,0,0.5);
            display: inline-block;
            padding: 5px;
        }
        #dlform{
            width: 100%;
        }
        #dlstatus{
            background-color: #000000;
            color: #ffffff;
            overflow: auto;
            height: 100%;
        }
        #dlstatus span{
            color: red;
        }
        #dlstatus h5{
            margin: 0;
            padding: 0;
        }
        #dlstatuswrapper{
            overflow: hidden;
            width: 100%;
            border: 1px solid;
            height: 200px;
        }
        #leftmenu {
            float: left;
            height: 100%;
            width: 70px;
            border-right: 1px solid;
            background: -webkit-linear-gradient(left, #4B4B4B, #787878);
        }
        #leftmenu ul {
            padding: 0;
            height: 100%;
            margin: 0;
        }
        #leftmenu ul li {
            list-style: none;
            margin: 0;
            cursor: default;
            text-align: center;
            font-size: 10pt;
            color: white;
        }
        #leftmenu ul li:hover {
            background-color: #333333
        }
        #leftmenu ul li.leftmenuselected {
            background: -webkit-linear-gradient(left, #aaaaaa, #e0e0e0);
            color: black;
        }
        #leftmenu ul li img {
            width: 40px;
            height: 40px;
        }
        #demos{
            overflow: hidden;
            height: 100%;
            border-top:1px solid;
            box-sizing: border-box;
        }
        #demos #demo-up{
            margin-top: 10px;
            float: left;
            width: 100%;
            text-align: center;
        }
        #demos #demo-type{
            border: 1px solid;
        }
        #demos #demo-item-wrapper{
            overflow: auto;
            height: 100%;
        }
        #demos #demo-item-div{
            border-top: 1px solid;
            margin-top: 50px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
        }
        #demos .demo-item{
            width: 300px;
            height: 300px;
            margin: 20px 0 0 50px;
            display: inline-block;
            padding: 20px;
            
            box-sizing: border-box;
        }
        #demos .demo-item:hover{
            border: 2px blue solid;
            box-sizing: border-box;
            border: 1px gray solid;
            cursor:pointer;
        }
        #demos .demo-item img{
            width: 100%;
            border: 1px gray solid;
        }
        #ui-editor {
            height: 100%;
            overflow: hidden;
            display: none;
            border-top:1px solid; 
            box-sizing: border-box;
        }
        #code-editor{
            height: 100%;
            overflow: hidden;
            display: none;
            box-sizing: border-box;
            border-top:1px solid; 
        }
        #code-editor .CodeMirror{
            height: 100%;
        }
        #code-editor #file-list-div{
            height: 100%;
            float: left;
            border-right: 1px solid;
            width: 200px;
        }
        #code-editor #file-list-div ul{
            margin: 0;
            padding: 10px 0 0 0;
        }
        #code-editor #file-list-div ul li{
            margin: 0 0 0 0;
            padding: 2px 0 0 20px;
            cursor: default;
            height: 20px;
        }
        #code-editor #file-list-div ul li:hover{
            background-color: rgba(10,100,200,0.2);
        }
        #code-editor #file-list-div ul li.selected{
            background-color: rgba(10,100,200,0.4);
        }
        #code-editor #jscoderight{
            height: 100%;
            overflow: hidden;
        }
        #code-editor #jscodecontainer{
            height: 70%;
            border-bottom: 1px solid;
            overflow: hidden;
            width: 100%;
        }
        #code-editor #jscodewrapper{
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        #code-editor #jscodewrapper .CodeMirror{
            width: 100%;
            height: 100%;
        }
        #code-editor #jscodestatuswrapper{
            overflow: hidden;
            width: 100%;
        }
        #code-editor #jscodestatus{
            padding: 10px 0 0 0;
            overflow: auto;
            height: 100%;
            background-color: rgba(0,0,0,1);
        }
        #jscodestatus .row{
            color: white;
            padding: 3px 0 0 0;
            cursor: default;
        }
        #jscodestatus .lineno{
            float: left;
            width: 100px;
        }
        #widgetListcontainer {
            width: 200px;
            height: 100%;
            border-right: 1px solid;
            float: left;
        }
        #widgetList {
            width: 100%;
            height: 100%;
            overflow-x: auto
        }
        #widgetList input {
            width: 100%;
            border: none
        }
        #widgetList ul {
            padding: 0 0 5px 0;
            border-bottom: 1px #888888 solid;
            margin: 0
        }
        #widgetList li {
            list-style: none;
            margin: 0;
            cursor: default;
            line-height: 25px;
            height: 25px;
            display: block;
        }
        #widgetList li img {
            width: 20px;
            height: 20px;
            margin: 0 5px 0 5px;
            vertical-align: middle;
        }
        #widgetList .clonepattern {
            display: none
        }
        #widgetList .bar {
            background-color: #EEEEEE;
            background: linear-gradient(#F1F1F1, #DDDDDD);
            border-bottom: 1px #888888 solid;
            cursor: default;
            user-select: none;
            height: 17px;
            text-align: center
        }
        #inputdiv {
            width: 100%;
            border: 2px solid;
            box-sizing: border-box;
        }
        html,
        body {
            height: 100%;
            margin: 0;
            font-family: monospace;
            font-size: 11pt;
        }
        #viewercontainer {
            width: 100%;
            border-bottom: 1px solid;
            height: 70%;
            box-sizing: border-box;
            padding: 0 0px 0px 0px;
            float: left;
        }
        #viewer {
            width: 100%;
            height: 100%;
/*            margin-right: 20px;*/
            box-sizing: border-box;
/*            position: absolute;*/
/*            -webkit-transform: scale(0.6666666) translate(-25%, -25%);*/
        }
        #viewercontainer iframe {
            width: 100%;
            height: 100%;
            border: 0px solid;
            box-sizing: border-box;
            overflow: visible;
        }
        #codeedit {
            width: 100%;
            height: 100%;
            border-top: 1px solid;
            overflow: hidden;
        }
        #codeedit .CodeMirror{
            height: 100%;
            width: 100%;
        }
        #doctreedivcontainer {
            width: 100%;
            border-bottom: 1px solid;
            height: 20%;
            box-sizing: border-box;
            overflow: hidden;
        }
        #doctreediv{
            overflow: auto;
            height: 100%;
        }
        #doctreediv ul{
            margin: 0;
            padding: 0;
        }
        #doctreediv ul li{
            margin: 0;
            padding: 0;
            list-style: none;
            display:table-row;
        }
        #doctreediv ul li span:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        #propertydiv {
            width: 100%;
            padding: 10px 0 0 0;
        }
        #propertydiv .row{
            width: 100%;
            box-sizing: border-box;
            margin: 10px 0 0 0;
        }
        #propertydiv .row .title{
            float: left;
            width: 60px;
            
        }
        #propertydiv .row .input{
            overflow: hidden;
        }
        #propertydiv .row input{
            
        }
        #wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
            overflow: hidden;
            
        }
        #over {
            //overflow: visible;
            //border:4px solid;
            //width: 100%;
            //height: 100%;
            //box-sizing:border-box;
            
        }
        #drag-helper{
            border: 4px blue solid;
            position: absolute;
            display: none;
        }
        #active-border {
/*            position: absolute !important;*/
            border: 2px red solid;
            box-sizing:border-box;
            display: none;
        }
        #rightcenterdiv {
            box-sizing: border-box;
            overflow: hidden;
            height: 100%;
        }
        #rightdiv {
            overflow: hidden;
            height: 100%;
            
        }
        #centerdiv {
            height: 100%;
            border-right: 1px solid;
            float: left;
            width: 80%;
        }